<div class="container">
	<div class="row">
		
			<div class="col-xs-3">
				<div class="card" style="width: 20rem;">
					<img class="card-img-top" src="../profile_placeholder.png" alt="Card image cap">
					<div class="card-body">
						
						<button type="button" class="btn">Embed</button>
						<button type="button" class="btn">Link</button>
						
					</div>
				
				</div>
			</div>
			<div class="col-xs-3">
				<div class="card" style="width: 20rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<button type="button" class="btn">Embed</button>
						<button type="button" class="btn">Link</button>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="card card-outline-secondary" style="width: 20rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<button type="button" class="btn">Embed</button>
						<button type="button" class="btn">Link</button>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="card card-outline-secondary" style="width: 20rem;">
					<img class="card-img-top" src="..." alt="Card image cap">
					<div class="card-body">
						<button type="button" class="btn">Embed</button>
						<button type="button" class="btn">Link</button>
					</div>
				</div>
			</div>
		
	</div>
</div>


